@import url('./null.scss');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#app {
  overflow: hidden;
  position: relative;
  display: grid;

  grid-template-areas: 
    'firstBlk firstBlk'
    'allpageblk allpageblk';

  grid-template-rows: 100dvh 2fr;
  background-color: #141024;
  min-height: 100dvh;
}

.dropdown-menu {
  transition: transform 1s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 9999999999;
  transform: translateY(-100dvh);
  min-height: 100dvh;
  background-color: #141024;

  @media (width > 800px) {
    transform: translateY(-100dvh);
  }

  &__container {
    width: 50%;
    height: 50%;
  }

  .buttons {
    display: flex;
    gap: 3vmax;
    flex-flow: column wrap;

    &__btn {
      transition: all .3s;
      padding: 10px;
      color: white;
      font-size: 5vmax;
      font-family: Oswald;
      border-radius: 12px;

      &:hover {
        color: black;
        background: white;
        transform: translateY(-5%);
        box-shadow: 0px 3px 0px gray;
      }
    }

  }
}

.opened {
  transform: translateY(0);

  @media (width > 800px) {
    transform: translateY(-100dvh);
  }
}

.first-block {
  grid-area: firstBlk;
  color: white;

  .row {

    height: 10dvh;

    &__box {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    &__title {
      font-size: 1.25rem;
      font-weight: 700;
      transform: translateX(20%);
      font-family: Oswald;
    }


    .buttons {

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 1vmax;

      @media (width <= 800px) {
        gap: 2.5vmax;
      }

      &__btn {
        font-family: Inter;
        @media (width <= 800px) {
          display: none;
        }

      }

      &__phone-btn {

        padding: 9px;
        border: 2px solid white;
        border-radius: 8px;

        @media (width > 800px) {
          display: none;
        }

      }

      &__dropdown-btn {
        
        display: flex;
        flex-flow: column wrap;
        gap: 7px;
        justify-content: center;
        align-items: flex-start;
        border: 2px solid white;
        padding: 9px;
        border-radius: 8px;
        transition: all .3s;
        z-index: 10000000000000000;
        transform: translateX(-20%);

        @media (width > 800px) {
          display: none;
        }

        .line {
          transition: all .3s;
          background-color: white;
          height: 3px;
          border-radius: 15px;
          width: 30px;

          &_3 {
            width: 15px;
          }
        }
      }

      .clicked {

        .line {

          &_1 {
            transform: translateY(300%);            
          }

          &_2 {
            transform: rotateZ(90deg) translateX(-5%);        
          }

          &_3 {
            width: 0;
          }

        }

      }



    }

    &__numbers {
      font-size: 1.25rem;
      font-weight: 700;
      transform: translateX(-20%);
      font-family: Oswald;

      @media (width <= 800px) {
        display: none;
      }
    }


  }

  .content {

    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/Woman.svg') 95% center / 80dvh auto no-repeat;

    @media (width <= 1500px) {
      background: url('../assets/Woman.svg') 95% center / 70dvh auto no-repeat;
    }

    @media (width <= 1000px) {
      background: none;
    }

    &__box {
      display: flex;
      flex-flow: column wrap;
      gap: 5vmax;
    
      transform: translateX(-10%);

      @media (width <= 1400px) {
        transform: translateX(-12%);
      }

      @media (width <= 1000px) {
        transform: translateX(0);
        width: 100%;
        height: 75%;
        justify-content: space-between;
        align-items: center;

        background: url('../assets/Woman.svg') center bottom / 55dvh auto no-repeat;
      }

    }

    &__paragraph {
      display: flex;
      flex-flow: column nowrap;
      gap: 5vmax;

      @media (width <= 1000px) {
        transform: translateY(-30%);
        gap: 3vmax;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    &__title {
      font-size: 4vmax;
      font-weight: 700;
      font-family: Oswald;

      @media (width <= 1000px) {
        font-size: 5vmax;
      }
    }

    &__text {
      width: 75%;
      text-wrap: balance;
      font-weight: 300;
      font-size: 2vmax;
      font-family: Inter;

      @media (width <= 1000px) {
        font-size: 2vmax;
      }
    }

    &__btn {
      background-color: #D52027;
      padding: 2vmax;
      border-radius: 8px;
      width: 35%;
      font-size: 2vmax;

      @media (width <= 1000px) {
        width: 80%;
      }
    }

  }


}

.container {
  width: 100%;
  height: 100%;
}

.all-page-blk {
  grid-area: allpageblk;

  .about-us {
    padding: 1vmax;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: white;

    &__text {
      width: 55%;
      font-size: 1.25vmax;
      font-family: Inter;

      @media (width <= 1300px) {
        font-size: 1.5vmax;
      }

      @media (width <= 1000px) {
        font-size: 3.30vmax;
        line-height: 4.25vmax;
        margin: 5vmax 0;
      }

      @media (width <= 800px) {
        width: 70%;
        font-size: 2.8vmax;
        line-height: 4vmax;
      }
    }

    &__box {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      padding: 1.25vmax;
      gap: 3vmax;
      width: 65%;

      @media (width <= 1300px) {
        width: 75%;
      }

      @media (width <= 1000px) {
        width: 100%;
        align-items: flex-start;
        
      }
    }

    .cards {
      display: flex;

      @media (width <= 1000px) {
        width: 100%;
      }

      &__container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1.5vmax;      
        
        @media (width <= 1000px) {
          width: 100%;
          flex-flow: column wrap;
          align-items: center;
          justify-content: center;
          gap: 5vmax;
        }
      }
    }

    .card {
      display: flex;
      flex-flow: column wrap;
      gap: 2vmax;

      @media (width <= 1000px) {
        text-align: center;
        align-items: center;
        justify-content: center;
      }

      &__title {
        color: #D52027;
        font-family: Inter;
        font-weight: 700;
        font-size: 3vmax;

        @media (width <= 1300px) {
          font-size: 3.25vmax;
        }

        @media (width <= 1000px) {
          font-size: 7vmax;
        }
      }

      &__text {
        text-wrap: balance;
        line-height: 1.5vmax;
        font-size: 0.8vmax;
        font-family: Inter;
        color: #141024B2;

        @media (width <= 1300px) {
          font-size: 1vmax;
        }

        @media (width <= 1000px) {
          font-size: 2vmax;
          width: 70%;
          text-wrap: none;
          line-height: 3.25vmax;
        }
      }
    }
  }
}

